body{
  display: block;
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, #0079FF,#00DFA2,#F6FA70,#FF0060);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main{
  height: 42vw;
  width: 28vw;
  background: linear-gradient(-45deg, darkred, #D21312, #ED2B2A, #F15A59);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  display: flex;
  flex-direction: column;
  margin-left: 35vw;
}

#maindiv1{
  height: 17%;
  width: 99%;
  padding-left: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  padding: 0;
  margin: 0;
  font-family: 'Rock Salt', cursive;
  font-size: medium;
}

.gridBtn{
  display: flex;
  gap: 10px;
}

button{
  color: black;
  border: solid yellow;
  box-shadow: 2px 2px 0 0 red, 4px 4px 0 0 yellow;
}

button:hover{
  color: darkgoldenrod;
  box-shadow: 3px 3px 0 0 red, 6px 6px 0 0 yellow;
  transform: translate(-1px, -1px);
}

.container{
  height: 65%;
  width: 99%;
  padding-left: 0.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#maindiv3{
  height: 17%;
  width: 99%;
  padding-left: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.divContainer{
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.divContainer div{
  background-color: white;
  flex: 1;
}

@media screen and (max-width: 800px) {
  main{
    height: 60vw;
    width: 40vw;
    margin-left: 28vw;
  }
  
}

@media screen and (max-width: 500px) {
  main{
    height: 96vw;
    width: 64vw;
    margin-left: 17vw;
  }
}